.signin {
  width: 100%;
  max-width: 40rem;
  margin: 5% auto;
  display: block;
  border: 1px solid #777;
  border-radius: 4px;
  .wrap {
    padding: 10px;
    h2 {
      color: #555;
      font-size: 2.2rem;
      text-align: center;
      font-weight: 400;
      text-transform: uppercase;
      margin: 1rem 0;
    }
  }
}
