.header {
  height: 6.5rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  .wrap {
    height: 100%;
    display: flex;
    // position: relative;
    .logo {
      width: 15%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .callToActions {
      // position: absolute;
      // right: 10px;
      width: 100%;
      padding: 0 2%;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      ul,
      li {
        margin: 0;
        padding: 0;
      }
      li {
        list-style-type: none;
        a {
          font-size: 1.8rem;
          line-height: 1;
          color: black;
          text-transform: uppercase;
          text-decoration: none;
        }
      }
    }
  }
}
